#container{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--color-surface);
}

#container header{
    background-color: var(--color-background);
    padding: 12px;
    margin-bottom: 16px;
}

#container header h1{
    font-size: 40px;
    font-weight: 500;
    text-shadow: 4px 4px var(--color-smoth);
    color: var(--color-text-dark);
}

#container nav {
    position: relative;
    display: none;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    padding: 8px 0;
    font-size: 12px;
}

#container nav .submenu div button{
    background-color: transparent;
}

#container nav .submenu div{
    display: none;
    flex-direction: column;
    gap: 8px;
    position: absolute;
    z-index: 10;
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--color-surface);
    border-radius: 4px;
    box-shadow: 4px 4px var(--color-smoth);
    padding: 8px;
    transition: all .3s;
}

#container nav .submenu:hover div{
    display: flex;
}

#container nav .submenu div button{
    border: 1px solid transparent;
    transition: border .3s;
    cursor: pointer;
}

#container nav .submenu div button:hover{
    border-bottom-color: var(--color-background-dark);
}

#container nav .toggle-button{
    position: relative;
    width: 136px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 2px 4px 2px 60px;
}

#container nav .toggle-button .ball{
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: var(--color-background);
    box-shadow: 4px 4px var(--color-smoth);
    transition: transform .3s;
}

#container nav .toggle-button input:checked+.ball{
    transform: translateX(20px);
}

#container nav .toggle-button::before{
    content: '';
}

#container nav .toggle-button input{
    display: none;
}

#container main form .form-input{
    position: relative;
}

#container main form .form-input label{
    position: absolute;
    top: -8px;
    left: 16px;
    font-size: 12px;
    font-weight: 300;
    background-color: var(--color-surface);
    padding: 0 4px;
}

#container main form .form-input textarea{
    min-height: 160px;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    outline-color: var(--color-border-dark);
    color: var(--color-text);
    font-weight: 400;
}

#container main form .form-input textarea::placeholder{
    color: var(--color-text-light);    
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

#container main form footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#container main form footer button,
#container nav .submenu>button,
#container nav>button,
#container main #response .wrapper .box .box-field .button-copy,
#container main #response #marc-code button{
    border-radius: 4px;
    box-shadow: 4px 4px var(--color-smoth);
    padding: 8px;
    /* margin-top: 16px; */
    background-color: var(--color-background);
    color: var(--color-text-dark);
    transition: color .3s;
}

#container main form footer button:hover,
#container nav .submenu>button:hover,
#container nav>button:hover,
#container main #response .wrapper .box .box-field .button-copy:hover,
#container main #response #marc-code button:hover{
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
}

#container main #response .wrapper .box .box-field .button-copy:disabled,
#container main #response .wrapper .box .box-field .button-copy:hover:disabled,
#container main #response #marc-code button:disabled,
#container main #response #marc-code button:hover:disabled{
    background-color: var(--color-text-light);
    color: var(--color-text);
}

#container main #response{
    display: none;
    font-size: 12px;
}

#container main #response h2{
    font-size: 24px;
    font-weight: 500;
    color: var(--color-text);
    margin-bottom: 12px;
}

#container main #response .wrapper{
    padding: 0 12px;
    border-bottom: 2px solid var(--color-border-dark);
    margin-bottom: 16px;
    display: none;
    flex-direction: column;
    gap: 8px;
}


#container main #response .wrapper>.title{
    background-color: var(--color-background);
    color: var(--color-text-light);
    font-weight: 700;
    border-radius: 4px;
    width: 100%;
    padding: 8px;
}

#container main #response .wrapper .box{
    position: relative;
    border: 1px solid var(--color-border);
    border-top-width: 2px;
    padding: 12px;
    margin-bottom: 12px;
}

#container main #response .wrapper .box .title{
    position: absolute;
    top: -8px;
    left: 8px;
    background-color: var(--color-surface);
    font-weight: 700;
    padding: 0 4px;
}

#container main #response .wrapper .box .box-field{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin: 4px auto;
}

#container main #response .wrapper .box .box-field .field-content{
    width: 60vw;
    border: 1px solid var(--color-border);
    padding: 4px;
}

#container main #response .wrapper .box .box-field .field-content::placeholder{
    font-weight: 300;
    color: var(--color-text-light);
}

#container main #response .wrapper .error-message {
    color: var(--color-alert);
    margin: 12px auto;
}

#container main #response #marc-code{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 12px;
}

#container main #response #marc-code pre{
    width: 100%;
}

#container main #response #marc-code pre code{
    color: var(--color-background-dark);
    flex-grow: 1;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 12px;
    max-width: 100%;
    overflow-x: scroll;
}